# yml for checking metadata
# check ONLY the file being updated ends in .md

name: Linting

on:
  pull_request:
    branches: 
    - develop
    - release
    - main
    paths-ignore:
    - '../blogs/authors'
    - '../blogs/ecosystems-and-partners'
    - './blogs/authors'
    - './blogs/ecosystems-and-partners'
    - 'blogs/authors'
    - 'blogs/ecosystems-and-partners'
    - 'authors'
    - 'ecosystem-and-partners'

jobs:
  check-markdown-metadata:
    name: Blogs / Metadata
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.12]
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
      - name: Setup Python ${{ matrix.python-version }}
        uses: actions/setup-python@v5
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python3 -m pip install --upgrade pip
          python3 -m pip install markdown
      - name: Check for Markdown Metadata
        run: |
          python3 linting/check-metadata.py
